<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Build.Download" version="0.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Google.iOS.Core" version="2.0.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Google.iOS.GoogleCloudMessaging" version="1.2.0.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Google.iOS.InstanceID" version="1.2.1.0" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Measurement" version="29.0.0.1" targetFramework="monoandroid60" />
</packages>